$reactlightblue: #d5f3fe;
$reactdarkerblue: #2A627C;
$reactdarkblue: #2a627c81;
$reactorange: #EDB57E;

.mainbutton {
    font-family: "Poppins", sans-serif;
    text-align: center;

    button {
        width: 110px;
        height: 35px;
        border-radius: 5px;;
        background-color: $reactorange;
        color: white;
        transition: all .3s;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px
    }

    button:hover {
        transition: all .3s;
        background-color: #edb57ea6;
    }
}

.dropdown {
    position: relative;
    top: 5px;
    left: 10px;
    width: 100%;
    transform: translateX(-5%);
    background-color: white;
    // border: 1px solid #a0a0a09e;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: -78px;
}

.mainbuttonactive {
    button {
        background-color: #edb57ea6;
    }
}