.status {
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.status.isopen {
    background-color: #edb57e4a;
    color: #EDB57E;
}
.status.isclosed {
    background-color: #7fcfd35b;
    color: #7FCFD3;
}

.formfield {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    // border: 2px solid black;
    align-items: center;
    
    // justify-content: space-between;
    
    label {
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        font-weight: 900;
    }
}

.selectfield {
    width: 250px;
    // border: 2px solid black;
}
.textfield {
    width: 300px;
    // border: 2px solid black;
}