$reactionlight: #A4C6D0;
$reactiondark: #2A627C;

.reacttable {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 800px;

    tr.header {
        background-color: $reactionlight;
        font-size: 15px;
        text-transform: uppercase;
        color: $reactiondark;
    }
    tr {
        text-align: left;
    }

    td {
        // border: 1px solid #ddd;
        padding: 5px 8px;
        // text-transform: uppercase;
    }
}
    

