@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

a {
  text-decoration: none;
}

.menuItem {
  position: relative;
  color: #2a627c;
  padding: 0.4em 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 0px;
  margin-bottom: 10px;
  border: 2px solid #eee;
  @include transition(background-color 300ms, color 300ms);

  i {
    font-size: 1.3em;
  }

  div {
    margin-left: 8px;
    line-height: 110%;

    // .label {
    //   font-size: 1em;
    // }

    // .sublabel {
    //   font-size: 0.8em;
    // }
  }

  &:hover,
  &.activeItem {
    color: white;
    background-color: #2a627c;
  }
}

.tooltip {
  color: #ffffff;
  background-color: #2a627c;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.1em;
  border-radius: 5px;
  width: fit-content;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 120%;
  @include transition(opacity 300ms 100ms);
}
.description {
  font-size: 70%;
}
