.page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 900px;
}

.inforow {
    label {
        width: 300px;
        min-width: 100px;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        // border: 2px solid black;
        // white-space:nowrap;
    }
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    // border: 2px solid black;
    span {
        text-align: left;
        font-family: "Poppins", sans-serif;
        // border: 2px solid black;
    }
    
}
