@import "assets/styles/globals.scss";

.buttonboxblue {
  height: 100%;
  button {
    font-family: $poppins;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    border: 2px solid $blue100;
    background-color: $blue100;
    color: white;
    border-radius: 5px;
    // padding: 0px 20px;
    transition: 0.5s all;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
  }
  button:hover {
    background-color: white;
    color: $blue100;
  }
}

.buttonboxwhite {
  height: 100%;
  button {
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    border: 2px solid $blue100;
    background-color: white;
    color: $blue100;
    border-radius: 5px;
    // padding: 0px 20px;
    transition: 0.5s all;
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
  }
  button:hover {
    background-color: $blue100;
    color: white;
  }
}

.buttonboxgray {
    height: 100%;
    button {
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
      border: 2px solid $gray30;
      background-color: white;
      color: $gray100;
      border-radius: 5px;
      // padding: 0px 20px;
      transition: 0.5s all;
      font-weight: 600;
      font-size: 0.9em;
      text-align: center;
    }
    // button:hover {
    //   background-color: $gray30;
    //   color: white;
    // }
  }

  .buttonboxred {
    height: 100%;
    button {
      overflow: hidden;
      white-space: nowrap;
      height: 100%;
      border: 2px solid $red60;
      background-color: white;
      color: $red60;
      border-radius: 5px;
      // padding: 0px 20px;
      transition: 0.5s all;
      font-weight: 600;
      font-size: 0.9em;
      text-align: center;
    }
    // button:hover {
    //   background-color: $gray30;
    //   color: white;
    // }
  }
