@import "assets/styles/globals.scss";

.searchbar {
    max-width: 500px;
    input {
        width: 300px;
        min-width: 150px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid $gray40;
        font-size: 16px;
        background-color: white;
        background-image: url("../../assets/icons/SVG/search.svg");
        background-position: 10px; 
        background-repeat: no-repeat;
        padding: 8px 20px 8px 40px;

    }
    input:focus, textarea:focus, select:focus{
        outline-color: #a0a0a0;
    }
    i {
        padding-right: 10px;
    }

}