$reactlightblue: #d5f3fe;
$reactdarkerblue: #2A627C;
$reactdarkblue: #2a627c81;
$reactorange: #EDB57E;
$reactdarkorange: #ed9146;

.editor {
    border: 2px solid #EEEE;
    border-radius: 5px;

    button {
        // border: 2px solid black;

    }
}