*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: white;
}

.side-menu {
    position: fixed;
    background: #2A627C;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 0px;
    transition: width .2s ease-in;
    font-family: 'Poppins', sans-serif;
}

.side-menu.inactive{
    width: 80px;
}

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .large-logo {
    width: 180px;
    overflow: hidden;
    display: inline-block;
    transition: .2s;
}

.side-menu .top-section .small-logo {
    width: 42px;
    overflow: hidden;
    display: inline-block;
}

.side-menu .top-section {
    padding: 0px 20px;
}

.side-menu .top-section .logo img {
    max-width: 100%;
    max-height: 100%;
}

/* .side-menu .search-controller{
    color: #fff;
    position: relative;
    padding: 0px 20px;
}

.side-menu .search-controller .search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
} */

/* .side-menu .search-controller input[type=text]{
    border: 0;
    outline: none;
    height: 35px;
    background: #333;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    color: #666;
} */

.side-menu .main-menu .menu-item {
    color:white;
    font-size: 15px;
    display: block;
    padding: 6px 0px 5px 0px;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
}
.side-menu .main-menu {
    /* text-align: left; */
}

.side-menu .main-menu .list.open-menu .menu-item {
    margin-left: 20px;
}

.side-menu .main-menu .menu-item.active {
    /* background: white; */
    margin-left: 5px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    color: #2A627C;
}


.side-menu .main-menu .list .menu-item.active {
    background-color: white;
    margin-left: 10px;
    text-align: left;
    position: relative;
}


.side-menu .main-menu .list .menu-item.active::before {
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 20px;
    height: 50px;
    border-radius: 0 10px 0 0;
    z-index: -1;
}

.side-menu .main-menu .list .menu-item.active::before {
    top: auto;
    bottom: -50px;
    border-radius: 0 10px 0 0;
}

.side-menu .main-menu .list .menu-item.active::after {
    box-shadow: 0 10px 0 0 white;
    content: '';
    position: absolute;
    top: -50px;
    right: 0;
    width: 20px;
    height: 50px;
    border-radius: 0 0 10px 0;
    z-index: -1;
}
.side-menu .main-menu .list .menu-item.active::before {
    box-shadow: 0 -10px 0 0 white;
}

.side-menu .main-menu.open-menu {
    margin: 20px 0px;
    position: relative;
    height: 400px;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    padding-top: 10px;
}

.side-menu .main-menu.closed-menu {
    margin: 20px 0px;
    position: relative;
    text-align: center;
    height: 400px;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    padding-top: 10px;
}

.side-menu .main-menu.closed-menu .menu-item {
    text-align: center;
}
/* not required any more */
.side-menu.inactive .main-menu{

}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    padding-left: 5px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: #333;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active{
    max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
    display: block;
    margin: 5px 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    padding: 5px;
}


.side-menu .main-menu .sub-menu a.active{
    /* change in background, not recorded in video */
    background: #222;
    display: block;

    border-radius: 5px;
    color: #fff;

}

.side-menu-footer {
    width: 100%;
    background: #2A627C;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
    box-sizing: border-box;
}

.side-menu-footer.open {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-menu-footer .user-container.open {
    background-color: #a4c6d048;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: left;
    
}

.side-menu-footer .avatar{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 0px;
}
.side-menu-footer .avatar img{
    max-width: 100%;
    background-color: white;
}
.side-menu-footer .helpicon {
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
}
.side-menu-footer .helpicon img {
    max-width: 100%;
}

.side-menu-footer .user-info{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    width: 120px;
    opacity: 1;
    transition: opacity 1s ease-in;
    margin-top: 8px;
}

.side-menu.inactive .side-menu-footer .user-info{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu-footer .user-info h5{
    font-size: 13px;
}


.side-menu-footer .user-info p{
    font-size: 12px;
}

.side-menu-footer .toggle-menu-btn {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.side-menu-footer .toggle-menu-btn.open {
    margin-top: 23px;
}

.side-menu-footer.inactive .toggle-menu-btn {
    color: black;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #333;
}

.container{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.container.inactive{
    margin-left: 80px;
}