$reactlightblue: #d5f3fe;
$reactdarkerblue: #2A627C;
$reactdarkblue: #2a627c81;

.fulltable {
    // border-collapse: collapse;
    // border: 1px solid black;
    // border-radius: 5px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    th:first-child{
        border-radius:5px 0 0 5px;
        color: $reactdarkerblue;
    }
    
    th:last-child {
        border-radius: 0 5px 5px 0;
    }
    th {
        background-color: $reactlightblue;
        padding: 5px;
        color: $reactdarkblue;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 11pt;
    }
    td:first-child{
        border-radius:5px 0 0 5px;
    }
    
    td:last-child {
        border-radius: 0 5px 5px 0;
    }

    td {
        padding: 8px 5px;
    }
    tr:hover {
        background-color: #EFEFEF;
        border-radius:5px 0 0 5px;
        cursor: pointer;
    }
 
}

.searchfilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}
.customaccordion {
    // margin: 10px 0px;
    width: 100%;
}

.customaccordion .accordionicon {
    // position: absolute;
    transition: all .3s;
    i {
        font-size: 15px;
    }
}

.customaccordion .cardbody {
    display: none;
    transition: all .3s;
    // background-color: #EFEFEF;
    // height: 100px;
}

.customaccordion .accordionactive .cardbody {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.accordionactive .accordionicon {
    transform:rotate(-90deg)
}

.customaccordion .cardheader {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: #EFEFEF;
    padding: 5px;
    border-radius: 5px;
}




