.hovercontent {
    display: none;
    gap: 5px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 100;
    border-radius: 0px 5px 5px 5px;
    border: 1px solid gray;
    //   border: 1px solid black;
  }

  .icon:hover .dropdowncontent {
    display: flex;
  }
  
  .icon {
    height: 30;
    width: 30;
    display: flex;
    align-items: center;
    justify-content: center;
  }