/************** Colors **************/
$blue100: #15bcc7;
$blue60: #7fcfd3;
$blue40: #b5e1df;
$blue20: rgba(127, 207, 211, 0.15);

$orange100: #ed9146;
$orange60: #edb57e;
$orange40: #f4e3c2;
$orange20: rgba(237, 181, 126, 0.15);

$seafoam100: #738c91;
$seafoam60: #8dabb2;

$sapphire100: #2A627C;
$sapphire60: #A4C6D0;
$sapphire20: #a4c6d055;

$black: #050606;
$white: #ffffff;

$gray110: #616565;
$gray100: #a3a4a8;
$gray60: #d8d9d9;
$gray40: #efefef;
$gray30: #E9E9E9;
$gray20: #F9F9F9;

$red60: #FF8878;

/************** Text **************/
// Fonts
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$ptsans: 'PT Sans', sans-serif;
$questrial: 'Questrial', sans-serif;

// Typography presets

// helper function
@mixin text-color($contrast) {
  @if $contrast {
    color: $white;
  } @else {
    color: $black;
  }
}

@mixin normal-text($contrast: false) {
  @include text-color($contrast);

  font-family: $poppins;
}

@mixin header-1-text($contrast: false) {
  @include text-color($contrast);
  font-family: $poppins;
  font-size: 2.5em;
}

@mixin header-2-text($contrast: false) {
  @include text-color($contrast);
  font-family: $poppins;
  font-size: 1.3em;
}

@mixin label-text($contrast: false) {
  @include text-color($contrast);
  font-family: $montserrat;
  font-weight: 800;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
}

@mixin button-text($contrast: false) {
  @include text-color($contrast);
  font-family: $montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8em;
}

// Miscellaneous
$container-radius: 5px;

// Functions
@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}
